[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api.git
	branch = main
[submodule "Glamourer"]
	path = Glamourer
	url = https://github.com/Ottermandias/Glamourer.git
	branch = testing
